<header class="hero">
  <div class="hero-name">
    <!--p class="eyebrow">CURRICULUM VITAE</p-->
    <h1>INSHARAH  <span>RIAZ</span></h1>
  </div>

  <div class="header-wrapper">
  <div class="hero-contact">

  <a href="mailto:insharah.ir@gmail.com">
    <i class="fa-solid fa-envelope"></i>
    <span>insharah.ir@gmail.com</span>
  </a>

  <a href="tel:+923333254074">
    <i class="fa-solid fa-phone"></i>
    <span>+92 333 3254074</span>
  </a>

  <span>
    <i class="fa-solid fa-location-dot"></i>
    <span>Karachi, Pakistan</span>
  </span>

  <a
    href="https://sites.google.com/view/insharah-riaz-portfolio/home"
    target="_blank"
  >
    <i class="fa-solid fa-globe"></i>
    <span>Portfolio</span>
  </a>

  <a
    href="https://linkedin.com/in/insharah-riaz-0829951b9"
    target="_blank"
  >
    <i class="fa-brands fa-linkedin-in"></i>
    <span>LinkedIn</span>
  </a>

</div>
</div>
</header>